@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

:root{
  --primaryFontTitle: "Jersey 10", sans-serif;
}



html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url('../assets/img/background.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#backgroundMenuEsqueda,#backgroundMenuDireita{
  width: 700px;
  height: 400px;
  transform: rotate(90deg);
}







